name: 'Terraform'

on: 
  push:
    branch:
      - main
    paths:
      - azure/**
    
  pull_request:
    paths:
      - azure/**

jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest

  # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest or 
  defaults:
    run:
      working-directory: azure
      shell: bash
    
  steps:
  # Checkout the repository to the GitHub Actions runner
  - name: Checkout
    uses: actions/checkout@v2
    
  # Install the latest version of Terraform CLI and configure the Terraform CLI configuration file with
  - name: Setup Terraform
    uses: hashicorp/setup-terraform@v1
    
  # Check that all Terraform configuration files adhere to a canonical format
  - name: Terraform Format
    id: fmt
    run: terraform fmt -check
    
  #Initialize a new or existing Terraform working directory by creating initial files, loading any 
  - name: Terraform Init
    id: init
    run: terraform init
    env:
      ARM_CLIENT_ID: ${{ secrets.CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ secret.TENANT_ID }}
  
  # Generates an execution plan for Terraform
  - name: Terraform Plan
    id: plan
    if: github.event_name == 'pull_request'
    env:
      ARM_CLIENT_ID: ${{ secrets.CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ secret.TENANT_ID }}
    
    run: terraform plan -no-color
    continue-on-error: true

  - uses: actions/github-script@0.9.0
    if: github.event_name == 'pull_request'
    env:
      PLAN: "terraform\n${{ steps.plan.outputs.stdout }}"
    with:
      github-token: ${{ secrets.GITHUB_TOKEN }}
      script: |
        const output = `### Terraform Format and Style\` ${{ steps.fmt.outcome }}\`
        #### Terraform Initialization \` ${{ steps.init.outcome }}\`
        #### Terraform Plan\`${{ steps.plan.outcome }}`
        <details><summary>Show Plan</summary>
        \`\`\`${process.env.PLAN}\`\`\`\`
        </details>
        *Pusher: @${{ github.actor }}, Action: \`${{ github.event_name }}\`*`;
        github.issues.createComment({
            issue_number: context.issue.number,
            owner: context.repo.owner,
            repo: context.repo.repo,
            body: output
        })

  - name: Terraform Plan Status
    if: steps.plan.outcome == 'failure'
    run: exit 1

  - name: Terraform Apply
    if: github.ref == 'refs/heads/master' && github.event_name == 'push'
    run: terraform apply -auto-approve
    env:
      ARM_CLIENT_ID: ${{ secrets.CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ secret.TENANT_ID }}
