image: hashicorp/terraform:latest

pipelines:
  custom:
    hml-destroy:
      - step:
          name: hml-destroy
          deployment: homolog
          oidc: true
          script:
            - export TF_VAR_ENVIRONMENT=$ENVIRONMENT
            - export TF_VAR_DYNAMO_PAYMENT_TABLE_NAME=$DYNAMO_PAYMENT_TABLE_NAME
            - export TF_VAR_DYNAMO_PAYMENT_TABLE_PK=$DYNAMO_PAYMENT_TABLE_PK
            - export TF_VAR_DYNAMO_PAYMENT_TABLE_SK=$DYNAMO_PAYMENT_TABLE_SK
            - export TF_VAR_DYNAMO_ENDPOINT=$DYNAMO_ENDPOINT
            - export TF_VAR_API_URL=$API_URL
            - export TF_VAR_PCI_URL=$PCI_URL
            - export TF_VAR_PCI_CLIENT_CODE=$PCI_CLIENT_CODE
            - export TF_VAR_PCI_CLIENT_TOKEN=$PCI_CLIENT_TOKEN
            - export TF_VAR_KINESIS_STREAM_PAYMENT_SUCCESS=$KINESIS_STREAM_PAYMENT_SUCCESS
            - export TF_VAR_KINESIS_STREAM_PAYMENT_DENIED=$KINESIS_STREAM_PAYMENT_DENIED
            - export TF_VAR_KINESIS_AWS_ENDPOINT=$KINESIS_AWS_ENDPOINT
            - export AWS_ROLE_ARN=$AWS_ROLE_ARN
            - export AWS_DEFAULT_REGION=$AWS_DEFAULT_REGION
            - export AWS_WEB_IDENTITY_TOKEN_FILE=$(pwd)/web-identity-token
            - echo $BITBUCKET_STEP_OIDC_TOKEN > $(pwd)/web-identity-token
            - export AWS_ACCESS_KEY_ID=""
            - export AWS_SECRET_ACCESS_KEY=""
            - export AWS_SESSION_TOKEN=""
            - cd infraestrutura/
            - terraform init -backend-config=../envs/backends/hml.backend.tfvars
            - terraform destroy -var-file ../envs/vars/hml.tfvars -auto-approve
    prd-destroy:
      - step:
          name: prd-destroy
          deployment: production
          oidc: true
          script:
            - export TF_VAR_ENVIRONMENT=$ENVIRONMENT
            - export TF_VAR_DYNAMO_PAYMENT_TABLE_NAME=$DYNAMO_PAYMENT_TABLE_NAME
            - export TF_VAR_DYNAMO_PAYMENT_TABLE_PK=$DYNAMO_PAYMENT_TABLE_PK
            - export TF_VAR_DYNAMO_PAYMENT_TABLE_SK=$DYNAMO_PAYMENT_TABLE_SK
            - export TF_VAR_DYNAMO_ENDPOINT=$DYNAMO_ENDPOINT
            - export TF_VAR_API_URL=$API_URL
            - export TF_VAR_PCI_URL=$PCI_URL
            - export TF_VAR_KINESIS_STREAM_PAYMENT_SUCCESS=$KINESIS_STREAM_PAYMENT_SUCCESS
            - export TF_VAR_KINESIS_STREAM_PAYMENT_DENIED=$KINESIS_STREAM_PAYMENT_DENIED
            - export TF_VAR_KINESIS_AWS_ENDPOINT=$KINESIS_AWS_ENDPOINT
            - export AWS_ROLE_ARN=$AWS_ROLE_ARN
            - export AWS_DEFAULT_REGION=$AWS_DEFAULT_REGION
            - export AWS_WEB_IDENTITY_TOKEN_FILE=$(pwd)/web-identity-token
            - echo $BITBUCKET_STEP_OIDC_TOKEN > $(pwd)/web-identity-token
            - export AWS_ACCESS_KEY_ID=""
            - export AWS_SECRET_ACCESS_KEY=""
            - export AWS_SESSION_TOKEN=""
            - cd infraestrutura/
            - terraform init -backend-config=../envs/backends/prd.backend.tfvars
            - terraform destroy -var-file ../envs/vars/prd.tfvars -auto-approve

  branches: 
    homolog:
      - step:
          name: hml-apply
          deployment: homolog
          oidc: true
          script:
            - export TF_VAR_ENVIRONMENT=$ENVIRONMENT
            - export TF_VAR_DYNAMO_PAYMENT_TABLE_NAME=$DYNAMO_PAYMENT_TABLE_NAME
            - export TF_VAR_DYNAMO_PAYMENT_TABLE_PK=$DYNAMO_PAYMENT_TABLE_PK
            - export TF_VAR_DYNAMO_PAYMENT_TABLE_SK=$DYNAMO_PAYMENT_TABLE_SK
            - export TF_VAR_DYNAMO_ENDPOINT=$DYNAMO_ENDPOINT
            - export TF_VAR_API_URL=$API_URL
            - export TF_VAR_PCI_URL=$PCI_URL
            - export TF_VAR_PCI_CLIENT_CODE=$PCI_CLIENT_CODE
            - export TF_VAR_PCI_CLIENT_TOKEN=$PCI_CLIENT_TOKEN
            - export TF_VAR_KINESIS_STREAM_PAYMENT_SUCCESS=$KINESIS_STREAM_PAYMENT_SUCCESS
            - export TF_VAR_KINESIS_STREAM_PAYMENT_DENIED=$KINESIS_STREAM_PAYMENT_DENIED
            - export TF_VAR_KINESIS_AWS_ENDPOINT=$KINESIS_AWS_ENDPOINT
            - export AWS_ROLE_ARN=$AWS_ROLE_ARN
            - export AWS_DEFAULT_REGION=$AWS_DEFAULT_REGION
            - export AWS_WEB_IDENTITY_TOKEN_FILE=$(pwd)/web-identity-token
            - echo $BITBUCKET_STEP_OIDC_TOKEN > $(pwd)/web-identity-token
            - export AWS_ACCESS_KEY_ID=""
            - export AWS_SECRET_ACCESS_KEY=""
            - export AWS_SESSION_TOKEN=""
            - cd infraestrutura/
            - terraform init -backend-config=../envs/backends/hml.backend.tfvars
            - terraform apply -var-file ../envs/vars/hml.tfvars -auto-approve            
    master:
      - step:
          name: prd-apply
          deployment: production
          oidc: true
          script:
            - export TF_VAR_ENVIRONMENT=$ENVIRONMENT
            - export TF_VAR_DYNAMO_PAYMENT_TABLE_NAME=$DYNAMO_PAYMENT_TABLE_NAME
            - export TF_VAR_DYNAMO_PAYMENT_TABLE_PK=$DYNAMO_PAYMENT_TABLE_PK
            - export TF_VAR_DYNAMO_PAYMENT_TABLE_SK=$DYNAMO_PAYMENT_TABLE_SK
            - export TF_VAR_DYNAMO_ENDPOINT=$DYNAMO_ENDPOINT
            - export TF_VAR_API_URL=$API_URL
            - export TF_VAR_PCI_URL=$PCI_URL
            - export TF_VAR_KINESIS_STREAM_PAYMENT_SUCCESS=$KINESIS_STREAM_PAYMENT_SUCCESS
            - export TF_VAR_KINESIS_STREAM_PAYMENT_DENIED=$KINESIS_STREAM_PAYMENT_DENIED
            - export TF_VAR_KINESIS_AWS_ENDPOINT=$KINESIS_AWS_ENDPOINT
            - export AWS_ROLE_ARN=$AWS_ROLE_ARN
            - export AWS_DEFAULT_REGION=$AWS_DEFAULT_REGION
            - export AWS_WEB_IDENTITY_TOKEN_FILE=$(pwd)/web-identity-token
            - echo $BITBUCKET_STEP_OIDC_TOKEN > $(pwd)/web-identity-token
            - export AWS_ACCESS_KEY_ID=""
            - export AWS_SECRET_ACCESS_KEY=""
            - export AWS_SESSION_TOKEN=""
            - cd infraestrutura/
            - terraform init -backend-config=../envs/backends/prd.backend.tfvars
            - terraform apply -var-file ../envs/vars/prd.tfvars